// Color Pallete
$body_text1:#0D4566;
$orange:#F49800;
$light_green:#3AAA35;
$fade_green:#EBFFEA;
$deep_green:#006633;
$middle_green:#0D4566;
$icon_bg:#BDFFBA;
$black:#000;
$white:#fff;
$butter_color:#FFF5E3;
$fade_blue:#F3FBFF;
$faded_green:#F4FAFD;

