.how-it-works{
    background:#FAFFFA;
    transition: all 0.6s;
    // color: #000;
    font-size: 13px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    
    width: 100%;
    display: flex;
    
    @extend .align-center;
    
        &-container{
            width: $pageWidth;      
            padding: 70px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // height: 80vh;
    overflow: hidden;


            div.heading{
                // text-align: center;
                font-size: 20px;
                @include font("roboto",600);
                font-family: 'roboto';
                color: $middle_green;
             

               h2{
                text-align: center;
               }
            }

            // .step{
            //     display: flex;
            //     justify-content: center;
            //     // margin:0px auto;
            //     flex-direction: column;



            //     .step-one{
            //         display: flex;
            //         align-items: center;

            //         .left{
            //             flex-basis: 40%;
                        
            //             .heading{
            //                 display: flex;
            //                 align-items: center;

            //                 span{
            //                     img{
            //                         width:50px;
            //                     }
            //                 }
            //             }

            //             p{
            //                 // margin-left:40px;
            //                 padding: 0 0px 0 50px;
            //             }
            //         }

            //         .middle{
            //             flex-basis: 20%;
            //             align-items: center;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;

            //         }

            //         .right{
            //             flex-basis: 40%;

            //             img{
            //                 width:500px;
            //             }
            //         }
            //     }


            //     .step-two{
            //         display: flex;
            //         align-items: center;

            //         .left{
            //             flex-basis: 40%;

            //             img{
            //                 width:400px;
            //             }
            //         }

            //         .middle{
            //             flex-basis: 20%;
            //             align-items: center;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;

            //         }

            //         .right{
            //             flex-basis: 40%;
            //             .heading{
            //                 display: flex;
            //                 align-items: center;

            //                 span{
            //                     img{
            //                         width:50px;
            //                     }
            //                 }
            //             }

            //             h3,p{
            //                 // margin-left:40px;
            //                 padding: 0 120px 0 50px;
            //             }
                       
            //         }
            //     }

            // }




            

        }


}



.content-right.timeline-content{
    top:100px;

    @include tablet-portrait{
      top: 350px;
      height: 550px;
        
    }


    @include mobile{
    top:70px;

    }

}


.content-left.timeline-content {
    top: 70px;

@include tablet-portrait{
    top:150px;
    height: 250px;
  
}


}

    img.timeline-icon{
        position:absolute;
        width: 50px;
    }

    h3.timeline-heading{
        margin-left:60px;
        
        margin-bottom: 10px;


     

    }

p.timeline-content{
@include mobile{
    font-size: 12px!important;
}

}

    img.timeline-img{
   
        width: 500px;
        height: 300px;
        object-fit: contain;
    

        @include mobile{
            width: 250px;
            


        }

    }


    // img.timeline-img:nth-child(odd){

    // margin-top:50px;
  
    // }


    // img.timeline-img:nth-child(even){

    //   // margin-top:50px;
    //   // margin-bottom: 150px;
    //   }



  /*===== Vertical Timeline =====*/

  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    // text-transform: uppercase;
    // background: $deep_green;
    border-radius: 15px;
    padding: 15px 23px;
    color: #fff;
    max-width: 38%;
    width: 100%;
    text-align: center;
    margin: 0 auto;




    &:hover{
cursor: pointer;
    }

@include tablet-portrait{
    // width: 100%;
    max-width: 93%!important;
    margin: 0 auto !important;

}


@include mobile{
    // width: 100%;
    max-width: 80%!important;
    margin: 0 auto !important;

}

  }
  #conference-timeline .conference-center-line {
    position: absolute;
    width: 1px;
    height: 86%;
    top: 6%;
    left: 50%;
    margin-left: -2px;
    background: $middle_green;
    z-index: 1;


    @include mobile{
      height: 90%;
    top: 4%;
    }

  }


  #conference-timeline {
    margin-bottom: 150px;


    @include mobile{
    margin-bottom: 40px;


    }
}

  .timeline-end{
    position: relative;
    img{
        z-index: 999999;
        position: absolute;
        left: 43%;
        background: #fafffa;
        z-index: 1;

        @include tablet-portrait{
          left: 0%;
          top: -63px;
        }

        @include mobile{
          left: -6%;
          top: -67px;
        }
    }
  }

  .timeline-en.final{
    text-align: center;
transform: translateY(100px);
font-size: 20px;
color: $body_text1;
font-weight: 500;

@include tablet-portrait{
  padding-left: 30px;
  text-align: left;
transform: translateY(0);

}
@include mobile{
  padding-left: 30px;
  text-align: left;
transform: translateY(0);

}

  }

  #conference-timeline .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;


@include tablet-portrait{
    padding-top: 0px;

}

@include mobile{
  padding-top: 0px;

  
}




  }

  .timeline-article:nth-of-type(2n) {
    margin-bottom: 150px;
}

  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    


@include  mobile{

  overflow:visible;

}

    // margin: 20px 0;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }
  .timeline-article .timeline-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
    text-align: right;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    // border: 1px solid #ddd;
    // background-color: #fff;
    // box-shadow: 0 1px 3px rgba(0,0,0,.03);
    padding: 27px 25px;

@include mobile{
    padding: 0px !important;
}


  }
  .timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
  
    color: $body_text1;
    font-size: 14px;
    line-height: 24px;
    position: relative;

    @include mobile{
      padding: 30px 0;
    }



  }
  .timeline-article p span.article-number {
    position: absolute;
    font-weight: 300;
    font-size: 44px;
    top: 10px;
    left: -60px;
    color: #00b0bd;
  }
  .timeline-article .content-left-container {
    float: left;
  }
  .timeline-article .content-right-container {
    float: right;
  }
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
    position: absolute;
    top: 20px;
    font-size: 23px;
    font-family: "FontAwesome";
    color: #fff;
  }
//   .timeline-article .content-left:before {
//     content: "\f0da";
//     right: -8px;
//   }
//   .timeline-article .content-right:before {
//     content: "\f0d9";
//     left: -8px;
//   }
  .timeline-article .meta-date {
    position: absolute;
    top: 39%;
    left: 49%;
    width: 80px;
    height: 80px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
    background: #FAFFFA;
    z-index: 2;
    padding-top: -30px;


    span{
        img{

            @include mobile{
                width: 30px;
            }
        
       

        }
    }

  }
  .timeline-article .meta-date .date,
  .timeline-article .meta-date .month {
    display: block;
    text-align: center;
    font-weight: 900;
  }
  .timeline-article .meta-date .date {
    font-size: 15px;
    line-height: 40px;
    color:$middle_green;
    background: #FAFFFA;
  }
  .timeline-article .meta-date .month {
      
    font-size: 18px;
    line-height: 10px;
    // border:1px solid $body_text1;
    // width: 80px;
    // height: 80px;
    // border-radius: 50%;
    color: $middle_green;
  }
  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    #conference-timeline .timeline-start,
    #conference-timeline .timeline-end {
      margin: 0;
    }
    #conference-timeline .conference-center-line {
      margin-left: 0;
      left: 50px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
      @include mobile{
        left: 10px;
    
    }
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;

      @include mobile{
        min-height: 180px;

    
    }

    }
    .timeline-article .content-left:before {
      content: "\f0d9";
      right: auto;
      left: -8px;
    }
    .timeline-article .content-right:before {
      display: none;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }
    .timeline-article p span.article-number {
      display: none;
    }

    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      margin-left: 93px;
      margin-right: 20px;

      @include mobile{
        margin-bottom: 30px
      }

}
  }
  /*===== // Resonsive Vertical Timeline =====*/



