.news-updates{
    




    &-container{
        padding:6px;
        border:1px solid $middle_green;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .jctkr-label{
            padding: 5px 15px;
            color: $orange;

            &:hover{
                cursor: pointer;
            }
        }

        .mortgage-rates{
            width: 100%;

            ul{

                padding-top:6px;

                li.seperator{
                    margin: 0 20px;
                    
                    span{
                        width: 1px;
                        height: 25px;
                        background-color: #0D456696;
                        display: block;
                        margin-bottom:-10px;
                    }
                }


                li{
                    color: $middle_green;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;


                    
                   
                    

                        a{
                            text-decoration: none;
                            color: $middle_green;

                            
                        }
                }
            }
        }

    }

}

 