/*Form Error*/
.form-error{
  color:rgb(207, 73, 73);
}

/* ---------------------------------------------------
                    Home page  search tab css
                    Input margin .3125rem to 0 .53125rem
------------------------------------------------------*/
.property-search-container .search-container-property form div {
    margin: 0 .53125rem!important;
}

@media(max-width:56.25rem) {
  .property-search-container .search-container-property form div {
    margin-bottom: .9375rem !important;
  }

}
/* Home page .property-search-container .search-container-property form
    margin-left: 0rem!important; to -2rem
} */
.property-search-container .search-container-property form {
    /* margin-left: -2rem; */

}
/* Home page .property-search-container .search-container
    padding 0 added
} */
.property-search-container .search-container {
    padding:0rem!important;
}

.property-search-container {
    width: 74.8125rem;
}

.search-container-property input,
.search-container-property input::placeholder,select::placeholder {
  font-family: poppins;
  font-size: .9375rem;
  line-height: 1.5rem;
}


/* ---------------------------------------------------
                    Home page Carousel text content css
                    padding from 11.25rem to 0rem and
                    flex-basis from 50% to 35%
------------------------------------------------------*/
.promotion-slider-container .right {
    padding-right:0rem!important;
}
.promotion-slider-container div {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
}
/* --------------------End of Carousel text content--------------------------- */



/* ---------------------------------------------------
                    About Us page css
                    button color change to white
------------------------------------------------------*/
/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    color: #fff!important;
} */
.green-btn {
  cursor: pointer;
  color: #fff !important;
}

/* ---------------------------------------------------
                    About Us page css
                    button:hover color added
------------------------------------------------------*/
/* [type=button]:not(:disabled):hover, [type=reset]:not(:disabled):hover, [type=submit]:not(:disabled):hover, button:not(:disabled):hover {
    cursor: pointer;
    color: #006633!important;
} */
.hoverable:hover{
    cursor: pointer;
    color: #006633!important;
    /* color: #006633; */
    transition: 0.3s;
    background-color: #fff !important;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0rem .1875rem .3125rem -0.0625rem,
    rgb(0 0 0 / 14%) 0rem .3125rem .5rem 0rem,
    rgb(0 0 0 / 12%) 0rem .0625rem .875rem 0rem;
}

/* ---------------------------------------------------
                    Pre Approval page css
                   pagination parent flex between children
                   and change of class to id
------------------------------------------------------*/
.preapproval-content {
  /* margin-top: 10rem; */
}
.placeholder {
  font-family: poppins;
  font-size: .9375rem;
  line-height: 1.5rem;
  font-weight: 500;
}
/* ---------------------------------------------------
                    Property page css
                   pagination parent flex between children
                   and change of class to id
------------------------------------------------------*/
#pagination{
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
    width: 100%!important;
}
#btn-tab{
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
    width: 17%!important;
}
.pg-no{
    margin:0 1rem!important;
}

/* ---------------------------------------------------
                    Property page css
                   first input-field on tab width added
------------------------------------------------------*/
.search-container-property input, .search-container-property input::placeholder {
    width: 100%;
}

/* -----------------------------------------------------
    log-in,very and forgot page
    padding adjusted from 9.375rem 0 0  to 3.125rem
--------------------------------------------------*/
.login-container .right {
    padding: 0rem 0 0 0rem;
}

.login-container #verify {
    padding: 0rem 0 0 0rem;
}

.signup-container .right {
    padding: 0rem 0 0 0rem;
}

.login-container .right .form-container form div.forgot-password {
  color: #5E97B1;
  margin-top: -0.9375rem;
  margin-bottom: 1.25rem;
}
.login-container .right .form-container form div.forgot-password .anchor {
  text-decoration: none;
   color: #5E97B1;
}



@media(max-width:56.25rem){

/* ---------------------------------------------------
                    Property page css
                   pagination parent flex between children
------------------------------------------------------*/
    #pagination{
        flex-direction: column!important;
        justify-content: left!important;
    }
    #btn-tab{
        width: 75%!important;
    }
}
