img {
  max-width: 100%;
  vertical-align: middle;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.j-btw {
  justify-content: space-between;
}
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  /* font-weight: normal; */
}
.fade-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
body,
button {
  font-family: Roboto;
}
body {
  font-size: 14px;
}
button {
  font-family: Poppins;
}
.abs {
  position: absolute;
}
.relative {
  position: relative;
}
.padded-content {
  /* padding: 30px 75px;
  margin-top: 101px; */
  padding: 30px 10px;
  max-width: 1200px;
  margin: auto;
  margin-top: 101px;
  position: relative;
}
.padded-content-normal {
  padding: 30px 10px;
  max-width: 1200px;
  margin: auto;

  position: relative;
}
.mt-183 {
  margin-top: 183px;
}
.bold {
  font-weight: bold !important;
}
.no-border {
  border: 0 !important;
}
.color1 {
  color: #0d4566;
}
.s-bold {
  font-weight: 500;
}
/* .xxxsm-font {
  font-size: 14px;
}
.xxsm-font {
  font-size: 15px;
}


.xsm-font {
  font-size: 16px;
  line-height: 176%;
}
.font-17{
  font-size: 17px;
} */
.font-16 {
  font-size: 16px;
}
.big-font {
  font-size: 30px;
  line-height: 40px;
  /* or 133% */

  letter-spacing: -0.5px;
}
.green {
  color: #005229;
}
/* .large-font {
  font-size: 37px;
line-height: 72px;
letter-spacing: 1px;
}





.sm-font {
  font-size: 17px;
} */
.green-btn,
.white-btn, .white-btn2 {
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 41px;
  background-color: #006633;
  font-size: 14px;
  cursor: pointer;
  line-height: 24px;
}
.contact-us .green-btn,
.white-btn {
  padding: 9px 51px;
}
.pre-approval-form-container .green-btn {
  padding: 8px 64px;
  margin: 0 0 !important;
}
.white-btn,.white-btn2 {
  background-color: #fff;
  color: #006633;
  border: 1px solid #006633;
}
.green-btn:hover {
  color: #006633;
  transition: 0.3s;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;
}
.white-btn:hover, .white-btn2:hover {
  color: #fff;
  transition: 0.3s;
  background-color: #006633;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;
}
.lemon-bg {
  background-color: #f9fff9;
}

/* tabset */
.tab-form {
  border: 1px solid #3aaa35;
  box-shadow: -4px 6px 14px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  background-color: #fafcff;
  width: 400px;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 1px solid #3aaa35;
}

/* Style the buttons inside the tab */
.tab button {
  border: none;
  outline: none;
  transition: 0.3s;
  color: #0d4566;
  cursor: pointer;
  font-family: poppins;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  background: transparent;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid #3aaa35;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-tab {
  margin-top: 30px;
}
.form-tab input,
.form-tab textarea {
  border: 1px solid #3aaa35;
  height: 64px;
  width: 100%;
  padding: 15px;
  font-family: poppins;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 7px;
  outline: none;
}
.form-tab input[type=range]{
  border: none;
}

/* input.range{
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.24, rgb(58, 170, 53)), color-stop(0.24, rgb(159, 199, 218)));
} */
.contact-form input {
  height: 51px;
  margin-bottom: 30px;
}
.preapprovalform input {
  height: 51px;
  padding: 10px;
}
.form-tab textarea {
  height: 100%;
}
.form-tab input::placeholder,
.form-tab textarea::placeholder {
  font-family: poppins;
  color: #0d4566;
  opacity: 0.6;
  font-size: 14px;
}
.form-tab input:focus {
  box-shadow: 0 0 5px #3aaa35;
  border: 1px solid #3aaa35;
}
.form-tab input[type=range]{
box-shadow: none;
border: none;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
		height: 5px;
	padding: 0;
	margin-top: 21px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
  }


  /*Chrome thumb*/

  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 5px;
	/*16x16px adjusted to be same as 14x14px on moz*/
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #3AAA35;
  }


  /*Mozilla thumb*/

  input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-border-radius: 5px;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #3AAA35;
  }


  /*IE & Edge input*/

  input[type=range]::-ms-track {
	width: 100%;
		height: 6px;
	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;
	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 2px 0;
	/*remove default tick marks*/
	color: transparent;
  }


  /*IE & Edge thumb*/

  input[type=range]::-ms-thumb {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #3AAA35;
  }


  /*IE & Edge left side*/

  input[type=range]::-ms-fill-lower {
	background: #3AAA35;
	border-radius: 2px;
  }


  /*IE & Edge right side*/

  input[type=range]::-ms-fill-upper {
	background: #9FC7DA;
	border-radius: 2px;
  }


  /*IE disable tooltip*/

  input[type=range]::-ms-tooltip {
	display: none;
  }




/* green radio button */
.radios label {
  font-family: poppins;
}
.grid.radios {
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  margin: 10px 0;
}
.form-tab .green-btn {
  width: 100%;
  margin-top: 20px;
}
.contact-us .green-btn,
.preapprovalform .green-btn {
  width: auto;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #3aaa35;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #3aaa35;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.q-radio [type="radio"]:checked +  label:after,
.q-radio  [type="radio"]:not(:checked) + label:after {
  top: 3px;
  left: 3px;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ppt-card-details {
  padding: 20px;
  box-shadow: rgb(204 204 204) 0px 0px 16px;
  /* width: max-content; */
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-content .ppt-card-details {
  box-shadow: none;
  margin-bottom: 30px;
  padding: 0;
}
.lower-ppt-detail-page .ppt-card-details {
  box-shadow: none;

  padding: 0px 0 35px 0;
  border-bottom: 1px solid #3aaa35;
  border-radius: 0;
}
.ppt-card-details:hover {
  box-shadow: none;
  transition: 0.3s;
}
.ppt-card-details img {
  margin-right: 10px;
}
.flex-wrap {
  /* align-items: center; */
  flex-wrap: wrap;
}
.ppt-card-details .located {
  align-items: center;
}
.grid-ppt-cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
}
.ppt-card-details .located,
.ppt-card-details .green {
  margin-top: 5px;
}
.ppt-card-details .color1 {
  font-size: 12px;
  font-family: poppins;
}

.modal-content .big-text {
  font-size: 20px;
}
.lower-ppt-detail-page .big-text {
  font-size: 15px;
}

.ppt-card-details .green {
  color: #006633;
  font-family: poppins;

  font-size: 12px;
}
.mt-50 {
  margin-top: 50px;
}
.ppt-card-details .upper {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr max-content;
}
.upper-case {
  text-transform: uppercase;
}
.ppt-card-details .upper .rhs {
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
}

@media (max-width:480px){
  .ppt-card-details .upper .rhs {
    justify-content:unset;
  }
}

.ppt-card-details .lower .dark-btn {
  background-color: #0d4566;
  color: #fff;
  border: 1px solid #0d4566;
  font-family: poppins;
  padding: 0 15px;
  height: 38px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 9px;
  line-height: 24px;
  padding: 6px 9px;
  /* width: 106px; */
}
.ppt-card-details .lower .dark-btn:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #0d4566;
}
.ppt-card-details .lower .with-icon {
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
}
.with-icon p {
  font-family: poppins;
  margin-top: 5px;
  font-size: 12px;
}

/* select input */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  color: #0d4566;
}
select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  border: 1px solid #3aaa35;
  border-radius: 7px;
  cursor: pointer;
  font-family: poppins;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select select,
.select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: url('../../img/faqs/arrowDown.svg');
  justify-self: end;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-shadow: 0 0 5px #3aaa35;
  border: 1px solid #3aaa35;
  border-radius: inherit;
}
h6.select-heading {
  color: #0d4566;
  font-weight: 300;
  margin-bottom: 10px;
}
