@media screen and (max-width: 1024px) {
  .mission-hero {
    padding: 30px;
    width: 62%;
    left: 63%;
  }

  .ppt-card-details .upper .rhs {
    justify-content: space-between;
  }

  .search-container-property form,
  .lower-ppt-detail-page .gridy,
  .modal-content .gridy {
    grid-template-columns: 1fr;
  }

  .search-container-property .in-btw {
    padding: 2px 15px;
  }

  .search-container-property .submit-property {
    margin-top: 10px;
  }

  .amenities-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .grid-ppt-cards {
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .ppt-card .ppt-card-details .upper .located {
    align-items: flex-start;
  }

  .upper-ppt-detail-page .gridy-pic {
    /* grid-template-columns: 1fr; */
    display: block;
    text-align: center;
    grid-template-areas: none;
  }

  .a,
  .b,
  .c {
    height: initial;
  }

  .b {
    margin: 15px 7px 0 0;
  }

  .c {
    margin: 15px 0px 0 7px;
  }

  .upper-ppt-detail-page .gridy-pic .bg {
    height: 300px;
    width: -webkit-fill-available;
  }

  .upper-ppt-detail-page .gridy-pic .smaller-pics {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .text-slide {
    margin: 50px 0;
  }

  .contact-us .grid {
    align-items: center;
  }

  .void {
    width: 100%;
  }

  .preapproval .amount {
    padding: 44px 33px;
  }

  .money {
    grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .search-homes-lhs .title.big-font {
    margin: auto;
  }

  .take-test3 .common-section .info {
    margin: 19px auto 29px auto;
  }

  .search-homes.grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .b,
  .c {
    margin: 15px 0 0 0;
  }

  .search-homes-lhs {
    margin: auto;
    text-align: center;
  }

  .w100-xmd {
    width: 100%;
  }

  .img-grid .dot {
    display: none;
  }

  .img-grid .home1 {
    width: 100%;
    padding-left: 14px;
  }

  .take-test .common-section {
    width: 81%;
  }

  .take-test2 .gridy {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .take-test3 .gridy {
    flex-direction: column-reverse;
  }

  .mb-md-30 {
    margin-bottom: 35px;
  }

  .take-test3 .common-section {
    margin-left: initial;
  }

  .faqs .sub-title {
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .mortagage-modal .gridy-mortagage {
    display: block;
  }

  .mortagage-modal {
    padding: 20px;
  }

  .modal-dialog {
    max-width: 90%;
    margin: auto;
  }

  .doub-grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .pre-approval-form-container .sub-title {
    width: 80%;
  }

  .preapproval {
    margin-top: 20px;
  }

  .filled-input-with-slider {
    padding: 15px 15px 47px 15px;
  }

  img.abs-opac {
    opacity: 0.4;
  }

  .mission-hero {
    top: 58%;
    left: 50%;
    height: auto;
    width: 60%;

    background-color: rgba(255, 245, 227, 0.5);

    width: 90%;
  }

  .padded-content,
  .padded-content-lemon {
    padding: 10px;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-content .ppt-card-details .upper {
    grid-template-columns: 1fr;
  }

  .tab-form,
  .text-slide {
    width: auto;
  }

  .boxed-details .boxed-body {
    grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  }

  .contact-us .grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-us {
    margin: 0;
  }

  .man {
    /* position: absolute; */
    width: 442px;
  }

  .form-container .heading {
    text-align: center;
  }

  .contact-us .abs-img {
    opacity: 0.3;
  }

  .step .text {
    width: auto;
    bottom: -60px;
  }
}

@media screen and (max-width: 600px) {
  .mortagage-modal .rhs .cardy {
    padding: 10px;
  }

  .steps {
    width: 100%;
  }


  input[type="range"] {
    margin-bottom: 4rem;
  }

  .modal-content {
    padding: 0;
  }

  .pre-approval-form-container {
    padding: 20px;
  }

  .pre-approval-form-container .sub-title {
    width: 100%;
  }

  .filled-input-with-slider .gridy {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .preapproval .tabled {
    padding: 0px 20px;
  }

  .upper-ppt-detail-page .gridy-pic .smaller-pics {
    flex-direction: column;
    align-items: center;
  }

  .upper-ppt-detail-page .gridy-pic .bg {
    width: -webkit-fill-available;
  }

  .search-container-property .grid-btw {
    grid-template-columns: 1fr;
  }

  .search-container-property .bordered {
    border: none;
  }

  .search-container-property input {
    border-bottom: 1px solid #006633;
  }

  .search-container-property .in-btw input {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .modal-content {
    width: 95%;
    margin: auto;
  }

  .modal-content .gridy {
    /* min-width: 500px; */
    padding: 20px;
  }

  .description .brief-detail {
    grid-template-columns: 1fr;
  }

  .faqs .sub-title {
    width: 80%;
  }

  .faq-container {
    padding: 15px;
  }

  .faqs .heading {
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .gg-20.buttons {
    display: grid;
    grid-gap: 20px;
  }

  .gg-20 .white-btn2 {
    margin-right: 0;
  }

  .mortagage-modal .rhs .buttons.grid {
    grid-template-columns: 1fr;
  }

  .modal-close {
    top: 15px;
  }

  .form-container .form {
    padding: 0 20px;
  }

  .form-container .socials {
    margin-left: 10px;
  }

  .contact-us .green-btn {
    width: 100%;
  }

  .take-test2 .common-section {
    width: 100%;
  }

  .search-container-property form {
    padding: 6px;
  }

  .mission-hero {
    top: 50%;
    width: 90%;
  }

  .mission-hero .info {
    font-size: 20px;
    line-height: 29px;
  }

  .mission .bg {
    height: 645px;
    background-position: -429px center;
  }

  .pagination-footer {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
  }

  .faqs .sub-title {
    width: 100%;
  }
}
